{% extends 'base.html' %}

{% block content %}
<div class="row container-fluid IntroParagraph">
<p class="IndexHeading">Welcome to the Bagel Co!</p>
<p class="IndexParaOne">
Our Bakers during the day create all of our delicious treats, 
blend together our recipe for Gluten Free Flour which gets turned into tempting GF options. 
They also whip all our home made flavours of cream cheeses, boil down and puree up the fillings 
for our squares and make all the caramels, icings, cookies and soups. The list is always evolving, 
and always homemade!
 </p>
 <p class="IndexParaTwo">
Our Bakers, every night, make between 60 and 120 dozen of our artisan ‘New York’ style bagels, 
although we could now call them ‘Mountain Style’ bagels. Our ‘Mountain Style’ bagels are lighter 
than our Eastern counterparts because they are baked in a steam injected oven, rather than boiled 
then baked. Our night team bakes these artisan bagels in 9 different flavours, as well as mix and bake muffins, cinnamon buns and scones.
</p>
</div>

<div class="row container-fluid">
    
    <div class="col-md-4 col-sm-12 OpeningHours">
        We’re open 7 days a week at both of our convenient locations.<br>
        <hr>
        7am – 5pm @ 102 830 8th (Main) Street. Canmore AB. T1W 2B7<br>
        <hr>
        6am – 4pm @ 101 1106 Bow Valley Trail. Canmore AB. T1W 1N6<br>
        <hr>
        We are Closed Christmas Day<br>
    </div>
    <div class="col-md-8 col-sm-12">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 IndexCarousel" src="https://res.cloudinary.com/cnridley/image/upload/v1610479308/bagel/IMG_2163_petkzo.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 IndexCarousel" src="https://res.cloudinary.com/cnridley/image/upload/v1610479308/bagel/IMG_2165_k0d5ew.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 IndexCarousel" src="https://res.cloudinary.com/cnridley/image/upload/v1610479307/bagel/IMG_2154_wsnkpi.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 IndexCarousel" src="https://res.cloudinary.com/cnridley/image/upload/v1610479307/bagel/IMG_2148_zrtvxv.jpg" alt="Fourth slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    </div>
</div>

<!--MODAL -->
<div class="modal" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <p>THIS IS FOR EDUCATIONAL PURPOSES AND IS NOT THE OFFICIAL BAGEL CO WEBSITE</p>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $(window).on('load', function() {
        $('#myModal').modal('show');
    });
</script>
{% endblock %}