{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Add new bagel to menu</h1>

<form>
  <!-- Category selection -->
  <div class="form-group">
    <label for="categorySelection">Select Category</label>
    <select class="form-control" id="categorySelection">
       {% for category in categories %}
            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
        {% endfor %}
    </select>
  </div>

  <!--product_name-->
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Product Name</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
  </div>

  <!--Product description-->
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Product description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <!--Submit button -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}